.form {
    .message {
        display: none;
        padding: 5px 0;
        font-size: 12px;
        line-height: 18px;
        font-family: 'Helvetica Neue LT Std', Arial, serif;
        font-weight: 300;
        letter-spacing: .78px;
        &.error {
            p {
                color: red;
            }
        }
        &.success {
            p {
                color: blue;
            }
        }
        p {
            margin-top: 10px;
        }
        p{
            &.success{
                color: blue;
            } 
        }
        p{
            &.error{
                color: red;
            } 
        }
    }
    .form-group.has-error {
        .with-errors {
            display: block;
            color: red;
        }
        .form-control {
            border-color: red;
        }
        .select {
            border-color: red;
            .icn.icn-select {
                border-color: red;
            }
        }
        .file {
            border-color: red;
            .icn.icn-file {
                border-color: red;
            }
        }
    }

    .with-errors {
        display: none;
        padding: 5px 0;
        font-size: 12px;
        line-height: 18px;
        font-family: 'Helvetica Neue LT Std', Arial, serif;
        font-weight: 300;
        letter-spacing: .78px;
    }
    button {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &.bd-black {
            border-color: black;
        }
        &.bd-white {
            border-color: #fff;
        }
        &.color-black {
            [class^="icon-"] {
                &:before {
                    color: blue !important;
                }
                &:hover {
                    &:before {
                        color: blue !important;
                    }
                }
            }
        }

        &.color-white {
            [class^="icon-"] {
                &:before {
                    color: white !important;
                }
                &:hover {
                    &:before {
                        color: white !important;
                    }
                }
            }
        }

        &.color-green {
            [class^="icon-"] {
                &:before {
                    color: green !important;
                }
                &:hover {
                    &:before {
                        color: green !important;
                    }
                }
            }
        }
        &.bd-white.color-white {
            &:hover {
                background-color: green;
            }
        }
        &.bd-black.color-white {
            &:hover {
                background-color: blue;
            }
        }
        &.bd-black.color-green {
            &:hover {
                background-color: blue;
            }
        }
    }
    .form-control {
        &.bd-black {
            border-color: black;
        }
        &.bd-white {
            border-color: #fff;
        }
        &.color-black {
            color: #888;
            &::-webkit-input-placeholder {
                color: blue;
            }

            &:-moz-placeholder {
                color: blue;
            }

            &::-moz-placeholder {
                color: blue;
            }

            &:-ms-input-placeholder {
                color: blue;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus {
                -webkit-text-fill-color: #888;
                background-color: transparent;
            }
        }

        &.color-white {
            color: white;
            &::-webkit-input-placeholder {
                color: white;
            }
            &:-moz-placeholder {
                color: white;
            }

            &::-moz-placeholder {
                color: white;
            }

            &:-ms-input-placeholder {
                color: white;
            }
        }
    }
    &.sent {
        .form-wrap {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        button {
            height: 33px;
            width: 33px;
            border-width: 1px;
            border-style: solid;
            border-left: 0;

            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond-to(xxxlarge) {
                height: 34px;
            }
        }
        .form-group {
            &.is-button {}
            &.has-error {
                button {
                    border-color: red;
                }
            }
        }
        .form-control {
            width: calc(100% - 33px);
        }
    }
    &.form-apply-job,
    &.contact
     {
        background-color: green;
        display: block;  
        padding: 35px 20px;
        @include respond-to(ip6) {
            padding: 35px 24px;
        }
        @include respond-to(large) {
            padding: 40px 24px;
        }
        @include respond-to(xxxlarge) {
            padding: 50px 70px 60px;
        }
        &.is-label {
            @include respond-to(medium) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            @include respond-to(large) {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            @include respond-to(xxxlarge) {
                padding-top: 60px;
            }
            .item {
                &.is-margin {
                    @include respond-to(medium) {
                        margin-top: -24px;
                    }
                }
                &:first-child {
                    .form-group {
                        @include respond-to(xxxlarge) {
                            margin-bottom: 27px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &:last-child {
                    @include respond-to(medium) {
                        margin-top: -24px;
                    }
                    .form-group {
                        @include respond-to(medium) {
                            margin-bottom: 21px;
                        }
                        @include respond-to(xxxlarge) {
                            margin-bottom: 33px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .ctr {
                @include respond-to(medium) {
                    width: 100%;
                    padding-right: 0;
                }
                @include respond-to(xxxlarge) {
                    margin-top: 27px;
                }
            }
        }
        .list {
            @include respond-to(medium) {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                margin: 0 -12px;
            }
            @include respond-to(xxxlarge) {
                margin: 0 -25px;
            }
        }
        .item {
            margin-bottom: 19px;
            @include respond-to(medium) {
                margin-bottom: 0;
                width: 50%;
                padding: 0 12px;
            }
            @include respond-to(xxxlarge) {
                padding: 0 25px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .form-group {
            margin-bottom: 19px;
            &:last-child {
                margin-bottom: 0;
            }
            @include respond-to(xxxlarge) {
                margin-bottom: 13.5px;
            }
        }

        .ctr {
            margin-top: 19px;
            @include respond-to(medium) {
                width: 50%;
                padding-right: 12px;
            }
            @include respond-to(xxxlarge) {
                margin-top: 13.5px;
                padding-right: 25px;
            }
        }
    }
    label {
        display: block;
        margin-bottom: 6px;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .78px;
        font-weight: bold;
    }
}