.form-control {
    font-family: Arial, serif;
    font-weight: 400;
    display: block;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 48px;
    padding: 13px 15px;
    background: transparent;
    border: 1px solid #525252;
    color: #525252;
    font-size: 16px;
    line-height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

button {
    display: block;
    padding: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select {
    font-family: 'GT Walsheim', Arial, serif;
    font-weight: 300;
    display: block;
    width: 100%;
    border-radius: 0;
    outline: 0;
    color: #212121;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none \9;
    -o-appearance: none;
    height: 31px;
    padding: 8px 16px;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.08px;
    @include respond-to(xxxlarge) {
        height: 34px;
        line-height: 16px;
        padding: 7px 10px;
    }
    
}

select::-ms-expand {
    display: none;
}

textarea.form-control {
    resize: none;
    outline: none;
    height: 140px;
    padding: 12px 20px;
}

.iphone {
    textarea {
        text-indent: -3px;
    }
}

*::-webkit-input-placeholder {
    color: #525252;
    font-size: 14px;
    line-height: 20px;
    @include respond-to(medium) {
        font-size: 16px;
    }
}

*:-moz-placeholder {
    color: #525252;
    font-size: 14px;
    line-height: 20px;
    @include respond-to(medium) {
        font-size: 16px;
    }
}

*::-moz-placeholder {
    color: #525252;
    font-size: 14px;
    line-height: 20px;
    @include respond-to(medium) {
        font-size: 16px;
    }
}

*:-ms-input-placeholder {
    color: #525252;
    font-size: 14px;
    line-height: 20px;
    @include respond-to(medium) {
        font-size: 16px;
    }
}
