.form {
	&.search {
		.wrap {
			position: relative;
			&.on {
				.input {
					width: 90px;
					border-bottom-color: #525252;
					@include respond-to(ip6) {
						width: 110px;
					}
					@include respond-to(medium) {
						width: 160px;
					}
					@include respond-to(large) {
						width: auto;
					}
				}
			}
		}
		.form-control {
			border: 0;
			height: 30px;
			font-size: 14px;
			line-height: 20px;
			padding: 4px 0;
			padding-right: 30px;
			@include respond-to(large) {
				border: 1px solid #525252;
				height: 48px;
				border-radius: 24px;
				padding: 13px 15px;
				padding-right: 52px;
			}
		}
		.input {
			border-bottom: 1px solid transparent;
			width: 30px;
			overflow: hidden;
			@media screen and (max-width: 1023px) {
				-webkit-transition: width .3s;
				-o-transition: width .3s;
				transition: width .3s;
			}
			@include respond-to(large) {
				width: auto;
				border-bottom: 0;
			}
		}
		button {
			width: 30px;
			height: 30px;
			padding: 0 4px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			@include respond-to(large) {
				height: 48px;
				width: 48px;
			}
		}
	}
}