html {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

body {
    font-family: Arial, serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #000;
    font-size: 14px;
    line-height: 1.25;
    @include respond-to(large) {
        font-size: 16px;
    }
}

picture {
    display: block;
}

section {
    position: relative;
}

.wow {
    visibility: hidden;
}

.nav-on {
    overflow: hidden !important;
    height: 100% !important;
}

.inner {
    padding: 0 20px;
    margin: auto;
    max-width: 550px;
    @include respond-to(medium) {
        max-width: 1416px;
        padding: 0 25px;
    }
}

#main {
}

.overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.on-desktop {
    display: none !important;
    @include respond-to(large) {
        display: block !important;
    }
}

.on-ipad {
    display: none !important;
    @include respond-to(medium) {
        display: block !important;
    }
}

.on-mobile {
    @include respond-to(medium) {
        display: none !important;
    }
}

.bg {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.img {
    position: relative;
    height: 0;
    overflow: hidden;
    background-color: #D8D8D8;
    img {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/images/icons/icn-loading.gif);
        background-repeat: no-repeat;
        -webkit-background-size: 50px 50px;
        background-size: 50px 50px;
        background-position: center;
        &.loaded {
            background: none;
        }
    }
}
.img-bg {
    position: relative;
    overflow: hidden;
    background-color: #D8D8D8;
    &.loaded {
        &:before {
            display: none;
        }
    }
    &:before {
        content: '';
        width: 50px;
        height: 50px;
        background-image: url(/images/icons/icn-loading.gif);
        background-repeat: no-repeat;
        -webkit-background-size: 50px 50px;
        background-size: 50px 50px;
        background-position: center;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.grayscale { 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.line {
    height: 1px;
    display: block;
    background-color: #D5B726;
}