.on-large-and-down {
	@include respond-to(xlarge) {
		display: none !important;
	}
}

.on-xlarge {
	display: none !important;
	@include respond-to(xlarge) {
		display: block !important;
	}
}

.on-ipad-and-down {
	@include respond-to(large) {
		display: none !important;
	}
}

.on-large {
	display: none !important;
	@include respond-to(large) {
		display: block !important;
	}
}