.icn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	&.icn-location {
		width: 24px;
		height: 30px;
		background-image: url(/images/icons/icn-location.png);
		-webkit-background-size: cover;
		background-size: cover;
		@include respond-to(large) {
			width: 45px;
			height: 56px;
		}
	}
	&.icn-search {
		width: 22px;
		height: 22px;
		background-image: url(/images/icons/icn-search.png);
		-webkit-background-size: cover;
		background-size: cover;
	}
	&.icn-phone {
		width: 39px;
		height: 25px;
		background-image: url(/images/icons/icn-phone.png);
		-webkit-background-size: cover;
		background-size: cover;
	}
	&.icn-email {
		width: 28px;
		height: 26px;
		background-image: url(/images/icons/icn-email.png);
		-webkit-background-size: cover;
		background-size: cover;
	}
	&.icn-facebook {
		width: 26px;
		height: 26px;
		background-image: url(/images/icons/icn-social.png);
		background-position: 0 0;
		-webkit-background-size: auto 26px;
		background-size: auto 26px;
	}
	&.icn-twitter {
		width: 26px;
		height: 26px;
		background-image: url(/images/icons/icn-social.png);
		-webkit-background-size: auto 26px;
		background-size: auto 26px;
		background-position: -43px 0;
	}
	&.icn-youtube {
		width: 26px;
		height: 26px;
		background-image: url(/images/icons/icn-social.png);
		-webkit-background-size: auto 26px;
		background-size: auto 26px;
		background-position: -83px 0;
	}
	&.icn-map {
		width: 26px;
		height: 26px;
		background-image: url(/images/icons/icn-social.png);
		-webkit-background-size: auto 26px;
		background-size: auto 26px;
		background-position: -124px 0;
	}
	&.icn-call {
		width: 26px;
		height: 26px;
		background-image: url(/images/icons/icn-social.png);
		-webkit-background-size: auto 26px;
		background-size: auto 26px;
		background-position: -161px 0;
	}
	&.icn-arrow {
		width: 14px;
		height: 14px;
		position: relative;
		&:before {
			content: ">";
			font-size: 18px;
			line-height: 1;
			color: $color-green;
			-webkit-transform: translate(-50%, -50%) rotate(90deg);
			-ms-transform: translate(-50%, -50%) rotate(90deg);
			-o-transform: translate(-50%, -50%) rotate(90deg);
			transform: translate(-50%, -50%) rotate(90deg);

			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;

		}
	}
}