.btn {
	display: inline-block;
	&.btn-link {
		background-color: #0C0;
		.txt {
			text-align: center;
			display: block;
			font-size: 14px;
			line-height: 20px;
			padding: 8px 10px;
			color: #000;
		}
	}
	&.btn-more {
		border: 1px solid $color-green;
		display: inline-block;
		position: relative;
		padding: 5px;
		.txt {
			display: block;
			color: $color-green;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: .3px;
			text-transform: uppercase;
			line-height: 20px;
			
			display: inline-block;
			vertical-align: middle;
		}
		.icn {
			margin-left: 3px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&.btn-slider {
		display: block;
		width: 24px;
		border: 1px solid #000;
		.arr {
			display: block;
			font-size: 18px;
			line-height: 20px;
			color: #000;
			text-align: center;
			margin: 0;
		}
	}
}