.box-feature {
	.heading {
		padding-bottom: 3px;
		border-bottom: 1px solid #00BE00;
	}
	h2 {
		color: #00BE00;
		text-transform: uppercase;
	}
}

.logo {
	width: 90px;
	@include respond-to(ip6) {
		width: 110px;
	}
	@include respond-to(medium) {
		width: 140px;
	}
    @include respond-to(large) {
        width: 160px;
    }
    @include respond-to(xlarge) {
		width: 193px;
		margin-left: auto;
        margin-right: auto;
    }
    a {
    	display: block;
        @include respond-to(large) {
            margin-bottom: 8px;
        }
    }
    .txt {
    	display: none;
        @include respond-to(large) {
            display: block;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: .8px;
            font-weight: bold;
            text-transform: uppercase;
            color: #D5B726;
            margin-top: 4px;
            text-align: center;
        }
        @include respond-to(xlarge) {
			font-size: 20px;
        }
    }
    .img {
    	background-color: transparent;
    	padding-bottom: 46.551724137%;
    }
    .line {
    	display: none;
    	@include respond-to(large) {
    		display: block;
    	}
    }
}

.row {
	@include respond-to(large) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-start;
		margin: 0 -15px;
	}
	.col {
		@include respond-to(large) {
			padding: 0 15px;
		}
		&:first-child {
			@include respond-to(large) {
				width: 60%;
			}
		}
		&:last-child {
			@include respond-to(large) {
				width: 40%;
			}
		}
	}
}