.panel {
    &.panel-feature {
        padding-top: 20px;
        .row {
            margin-bottom: 30px;
            @include respond-to(medium) {
                margin-bottom: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .col {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .box-feature {
            margin-bottom: 20px;
            @include respond-to(medium) {
                margin-bottom: 14px;
            }
        }
        .box {
            margin-bottom: 30px;
            @include respond-to(medium) {
                margin-bottom: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .img {
            &.square {
                padding-bottom: 63.559322033%;
            }
            &.rectange {
                padding-bottom: 50%;
            }
        }
        .list {
            &.two-col {
                @include respond-to(medium) {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    margin: 0 -11px;
                }
                .item {
                    margin-bottom: 30px;
                    @include respond-to(medium) {
                        width: 50%;
                        padding: 0 11px;
                        margin-bottom: 18px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                & + .ctr {
                    margin-top: 30px;
                    @include respond-to(medium) {
                        margin-top: 0px;
                    }
                }
            }
            &.one-col {
                .item {
                    &:first-child {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .box-list {
            &.fd-row {
                @include respond-to(medium) {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                }
                &+.fd-row {
                    margin-top: 15px;
                }
                &.custom {
                    .box-item {
                        &:first-child {
                            @include respond-to(medium) {
                                width: 145px;
                            }
                        }
                        &:last-child {
                            @include respond-to(medium) {
                                width: calc(100% - 145px);
                                padding-left: 30px;
                            }
                        }
                    }
                }
                &.resever {
                    @include respond-to(medium) {
                        -webkit-flex-direction: row-reverse;
                        -moz-flex-direction: row-reverse;
                        -ms-flex-direction: row-reverse;
                        -o-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                    }
                    .box-item {
                        &:last-child {
                            @include respond-to(medium) {
                                padding-left: 0;
                                padding-right: 12px;
                            }
                        }
                    }
                }
                .box-item {
                    &:first-child {
                        margin-bottom: 15px;
                        @include respond-to(medium) {
                            margin-bottom: 0;
                            width: 116px;
                        }
                    }
                    &:last-child {
                        @include respond-to(medium) {
                            width: calc(100% - 116px);
                            padding-left: 12px;
                        }
                    }
                }
            }
            &.fd-col {
                .box-item {
                    &:first-child {
                        margin-bottom: 8px;
                    }
                }
                h3 {
                    margin-bottom: 5px;
                }
                .ul-post {
                    margin-bottom: 5px;
                }
            }
        }
        .title {
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            color: #000;
        }
        .des {
            p {
                font-size: 15px;
                line-height: 20px;
                color: #000;
            }
        }
        .img-bg {
            height: 327px;
        }
        .ul-list {
            li {
                position: relative;
                padding-left: 15px;
                border-bottom: 1px solid black;
                &:before {
                    content: '+';
                    font-size: 18px;
                    line-height: 1.25;
                    letter-spacing: -.4px;
                    font-weight: bold;
                    color: black;
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
            }
            a {
                padding: 5px 0;
                display: block;
                font-size: 18px;
                line-height: 1.25;
                letter-spacing: -.4px;
                color: black;
                font-weight: bold;
            }
        }
        .ul-post {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: flex-start;
            margin: 0 -5px;
            .txt {
                display: block;
                font-size: 14px;
                line-height: 1.25;
                letter-spacing: -.28px;
                color: #000;
                &.link {
                    font-weight: bold;
                }
            }
            li {
                padding: 0 5px;
                position: relative;
                &:before {
                    content: '-';
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    color: #000;
                    font-size: 14px;
                    line-height: 1.25;
                    right: -2.5px;
                }
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
            }
        }
        .box-contact {
            .ul-contact {
                margin-bottom: 30px;
                @include respond-to(medium) {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -10px;
                    margin-right: -10px;
                }
                
                li {
                    margin-bottom: 20px;
                    @include respond-to(medium) {
                        margin-bottom: 0;
                        width: 60%;
                        padding: 0 10px;
                    }
                    &:first-child {
                        @include respond-to(medium) {
                            width: 40%;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                        @include respond-to(medium) {
                            margin-top: 10px;
                            width: 100%;
                        }
                    }
                }
                a {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                .txt {
                    display: block;
                    font-size: 12px;
                    line-height: 1.25;
                    letter-spacing: -.36px;
                    color: #000;
                    font-weight: bold;
                    width: calc(100% - 40px);
                    padding-left: 15px;
                    @include respond-to(xlarge) {
                        font-size: 14px;
                    }
                    @include respond-to(xxlarge) {
                        font-size: 16px;
                    }
                }
                .icon {
                    display: block;
                    width: 40px;
                }
                .icn {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    &.icn-location {
                        width: 39px;
                        height: 48.53px;
                    }
                    &.icn-email {
                        margin-left: 5px;
                        @include respond-to(large) {
                            margin-left: 0;
                        }
                    }
                }
            }
            .ul-link {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 -6px;
                li {
                    padding: 0 6px;
                    width: 50%;
                }
                .btn.btn-link {
                	display: block;
                }
            }
            .marquees {
            	margin-top: 10px;
            	position: relative;
                .img-bg {
                    height: 151px;
                }
                .box {
					position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: rgba(255,255,255,.69);
                }
                .title {
                	height: 40px;
                    overflow: hidden;
                    position: relative;
                }
                .title span {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 0;
                    color: #00DB00;
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    font-weight: bold;
                    text-transform: uppercase;
                    /* Starting position */
                    -moz-transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                    /* Apply animation to this element */
                    -moz-animation: move 10s linear infinite;
                    -webkit-animation: move 10s linear infinite;
                    animation: move 10s linear infinite;
                }
                /* Move it (define the animation) */
                @-moz-keyframes move {
                    0% {
                        -moz-transform: translateX(100%);
                    }
                    100% {
                        -moz-transform: translateX(-100%);
                    }
                }
                @-webkit-keyframes move {
                    0% {
                        -webkit-transform: translateX(100%);
                    }
                    100% {
                        -webkit-transform: translateX(-100%);
                    }
                }
                @keyframes move {
                    0% {
                        -moz-transform: translateX(100%);
                        /* Firefox bug fix */
                        -webkit-transform: translateX(100%);
                        /* Firefox bug fix */
                        transform: translateX(100%);
                    }
                    100% {
                        -moz-transform: translateX(-100%);
                        /* Firefox bug fix */
                        -webkit-transform: translateX(-100%);
                        /* Firefox bug fix */
                        transform: translateX(-100%);
                    }
                }
            }
        }
        .ctr {
            margin-top: 30px;
            text-align: center;
            @include respond-to(medium) {
                margin-top: 15px;
                text-align: right;
            }
            
        }
    }
}