<section class="panel panel-feature">
    <div class="inner">
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="box-feature">
                        <div class="heading">
                            <h2>GIÁ CĂN HỘ</h2>
                        </div>
                    </div>
                    <div class="list two-col">
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <a href="#">
                                        <div class="img square">
                                            <img class="lazy" data-src="/images/panel/img01.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <a href="#">
                                        <div class="img square">
                                            <img class="lazy" data-src="/images/panel/img01.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <a href="#">
                                        <div class="img square">
                                            <img class="lazy" data-src="/images/panel/img02.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <a href="#">
                                        <div class="img square">
                                            <img class="lazy" data-src="/images/panel/img02.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <a href="#">
                                        <div class="img square">
                                            <img class="lazy" data-src="/images/panel/img03.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <a href="#">
                                        <div class="img square">
                                            <img class="lazy" data-src="/images/panel/img03.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ctr">
                        <a href="#" class="btn btn-more">
							<span class="txt">BẤM ĐỂ XEM THÊM</span>
							<span class="icn icn-arrow">&nbsp;</span>
						</a>
                    </div>
                </div>
                <div class="box">
                    <div class="box-feature">
                        <div class="heading">
                            <h2>GIÁ ĐẤT NỀN</h2>
                        </div>
                    </div>
                    <div class="list two-col">
                        <div class="item">
                            <div class="box-list fd-col">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img04.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <h3>ĐẤT NỀN GIÁ RẺ SÀI GÒN HỒ CHÍ MINH</h3>
                                    <ul class="ul-post">
                                        <li>
                                            <a href="" class="txt link">batdongsansaigon24h.vn</a>
                                        </li>
                                        <li>
                                            <span class="txt date">16/07/2018</span>
                                        </li>
                                    </ul>
                                    <div class="des">
                                        <p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img05.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p class="title" >Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                    <div class="des"><p>15/06/2018</p></div>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img05.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p class="title" >Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                    <div class="des"><p>15/06/2018</p></div>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img05.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p class="title" >Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                    <div class="des"><p>15/06/2018</p></div>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img05.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p class="title" >Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                    <div class="des"><p>15/06/2018</p></div>
                                </div>
                            </div>
                            <div class="ctr">
                                <a href="#" class="btn btn-more">
									<span class="txt">BẤM ĐỂ XEM THÊM</span>
									<span class="icn icn-arrow">&nbsp;</span>
								</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="box-feature">
                        <div class="heading">
                            <h2>TIN TỨC</h2>
                        </div>
                    </div>
                    <div class="list one-col">
                        <div class="item">
                            <div class="box-list fd-col">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img06.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <h3>ĐẤT NỀN GIÁ RẺ SÀI GÒN HỒ CHÍ MINH</h3>
                                    <ul class="ul-post">
                                        <li>
                                            <a href="" class="txt link">batdongsansaigon24h.vn</a>
                                        </li>
                                        <li>
                                            <span class="txt date">16/07/2018</span>
                                        </li>
                                    </ul>
                                    <div class="des">
                                        <p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img07.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p class="title">Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                    <div class="des">
                                    	<p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img10.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p class="title">Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                    <div class="des">
                                    	<p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img07.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p class="title">Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                    <div class="des">
                                    	<p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ctr">
                                <a href="#" class="btn btn-more">
									<span class="txt">BẤM ĐỂ XEM THÊM</span>
									<span class="icn icn-arrow">&nbsp;</span>
								</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="box-feature">
                        <div class="heading">
                            <h2>GIÁ BIỆT THỰ - NHÀ PHỐ</h2>
                        </div>
                    </div>
                    <div class="list two-col">
                        <div class="item">
                            <div class="box-list fd-col">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img08.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <h3>ĐẤT NỀN GIÁ RẺ SÀI GÒN HỒ CHÍ MINH</h3>
                                    <ul class="ul-post">
                                        <li>
                                            <a href="" class="txt link">batdongsansaigon24h.vn</a>
                                        </li>
                                        <li>
                                            <span class="txt date">16/07/2018</span>
                                        </li>
                                    </ul>
                                    <div class="des">
                                        <p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img09.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img11.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img09.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img11.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="ctr">
                                <a href="#" class="btn btn-more">
									<span class="txt">BẤM ĐỂ XEM THÊM</span>
									<span class="icn icn-arrow">&nbsp;</span>
								</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-feature">
                    <div class="heading">
                        <h2>ĐÁNH GIÁ NHÀ ĐẦU TƯ</h2>
                    </div>
                </div>
                <div class="box-list fd-row resever">
                    <div class="box-item">
                        <div class="img rectange">
                            <img class="lazy" data-src="/images/panel/img07.jpg" alt="">
                        </div>
                    </div>
                    <div class="box-item">
                        <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="box-list fd-row resever">
                    <div class="box-item">
                        <div class="img rectange">
                            <img class="lazy" data-src="/images/panel/img10.jpg" alt="">
                        </div>
                    </div>
                    <div class="box-item">
                        <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="box-list fd-row resever">
                    <div class="box-item">
                        <div class="img rectange">
                            <img class="lazy" data-src="/images/panel/img07.jpg" alt="">
                        </div>
                    </div>
                    <div class="box-item">
                        <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="ctr">
                    <a href="#" class="btn btn-more">
						<span class="txt">BẤM ĐỂ XEM THÊM</span>
						<span class="icn icn-arrow">&nbsp;</span>
					</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="box-feature">
                        <div class="heading">
                            <h2>GIÁ TRUNG TÂM THƯƠNG MẠI</h2>
                        </div>
                    </div>
                    <div class="list two-col">
                        <div class="item">
                            <div class="box-list fd-col">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img08.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <h3>ĐẤT NỀN GIÁ RẺ SÀI GÒN HỒ CHÍ MINH</h3>
                                    <ul class="ul-post">
                                        <li>
                                            <a href="" class="txt link">batdongsansaigon24h.vn</a>
                                        </li>
                                        <li>
                                            <span class="txt date">16/07/2018</span>
                                        </li>
                                    </ul>
                                    <div class="des">
                                        <p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img09.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img11.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img09.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img11.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="ctr">
                                <a href="#" class="btn btn-more">
									<span class="txt">BẤM ĐỂ XEM THÊM</span>
									<span class="icn icn-arrow">&nbsp;</span>
								</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-feature">
                    <div class="heading">
                        <h2>SÀN GIAO DỊCH BẤT ĐỘNG SẢN</h2>
                    </div>
                </div>
                <div class="box-list fd-row custom">
                    <div class="box-item">
                        <div class="img-bg bg lazy" data-src="/images/panel/img12.jpg"></div>
                    </div>
                    <div class="box-item">
                        <ul class="ul-list">
                            <li><a href="">HƯNG THỊNH LAND</a></li>
                            <li><a href="">NOVALAND</a></li>
                            <li><a href="">QUỐC CƯỜNG LAND</a></li>
                            <li><a href="">ĐẤT XANH LAND</a></li>
                        </ul>
                        <div class="ctr">
                            <a href="#" class="btn btn-more">
								<span class="txt">BẤM ĐỂ XEM THÊM</span>
								<span class="icn icn-arrow">&nbsp;</span>
							</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="box-feature">
                        <div class="heading">
                            <h2>GÓC TƯ VẤN</h2>
                        </div>
                    </div>
                    <div class="list two-col">
                        <div class="item">
                            <div class="box-list fd-col">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img08.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <h3>ĐẤT NỀN GIÁ RẺ SÀI GÒN HỒ CHÍ MINH</h3>
                                    <ul class="ul-post">
                                        <li>
                                            <a href="" class="txt link">batdongsansaigon24h.vn</a>
                                        </li>
                                        <li>
                                            <span class="txt date">16/07/2018</span>
                                        </li>
                                    </ul>
                                    <div class="des">
                                        <p>Bất động sản sài gòn hồ chí minh là thị trường màu mỡ nhộn nhịp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img09.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img11.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img09.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="box-list fd-row">
                                <div class="box-item">
                                    <div class="img rectange">
                                        <img class="lazy" data-src="/images/panel/img11.jpg" alt="">
                                    </div>
                                </div>
                                <div class="box-item">
                                    <p>Giới thiệu căn hộ 2 phòng ngủ Quận 1 tại TP Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="ctr">
                                <a href="#" class="btn btn-more">
									<span class="txt">BẤM ĐỂ XEM THÊM</span>
									<span class="icn icn-arrow">&nbsp;</span>
								</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-feature">
                    <div class="heading">
                        <h2>LIÊN HỆ</h2>
                    </div>
                </div>
                <div class="box-contact">
                    <div class="box-item">
                        <ul class="ul-contact">
                            <li>
                                <a href="tel:7911370909">
                                    <div class="icon">
									   <span class="icn icn-phone">&nbsp;</span>
                                    </div>
									<span class="txt">791 137 0909</span>
								</a>
                            </li>
                            <li>
                                <a href="mailto:batdongsansaigon24h.vn">
                                    <div class="icon">
									   <span class="icn icn-email">&nbsp;</span>
                                    </div>
									<span class="txt">batdongsansaigon24h.vn</span>
								</a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon">
    									<span class="icn icn-location">&nbsp;</span>
                                    </div>
									<span class="txt">Đào Duy Anh Phường 9 Phú Nhuận TP HCM</span>
								</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-item">
                        <ul class="ul-link">
                            <li>
                                <a href="#" class="btn btn-link">
									<span class="txt">ĐĂNG KÝ XEM NHÀ MẪU</span>
								</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">
									<span class="txt">ĐĂNG KÝ NHẬN BÁO GIÁ</span>
								</a>
                            </li>
                        </ul>
                        <div class="marquees">
                            <div class="img-bg bg lazy" data-src="/images/panel/img13.jpg"></div>
                            <div class="box">
                                <p class="title">
                                    <span>batdongsansaigon24h.vn</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>