footer {
	margin-top: 20px;
	border-top: 10px solid #00CC00;
	padding-top: 20px;
	padding-bottom: 30px;
	.inner {
		@include respond-to(medium) {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	.f-left {
		margin-bottom: 20px;
		@include respond-to(medium) {
			width: 180px;
		}
		@include respond-to(large) {
			width: 193px;
		}
		@include respond-to(xlarge) {
			width: 375px;
		}
	}
	.f-right {
		@include respond-to(medium) {
			width: calc(100% - 180px);
		}
		@include respond-to(large) {
			width: calc(100% - 193px);
		}
		@include respond-to(xlarge) {
			width: calc(100% - 375px);
		}
	}
	.heading {
		display: block;
		font-size: 16px;
		line-height: 1.25;
		color: #00CC00;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: bold;
		@include respond-to(large) {
			font-size: 18px;
		}
		@include respond-to(xlarge) {
			font-size: 22px;
		}
	}
	.box-list {
		.box-item {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.ul-projects {
		a {
			color: #000;
			display: block;
			font-size: 14px;
			line-height: 1.5;
			@include respond-to(large) {
				font-size: 16px;
			}
		}
	}
	.ul-events {
		a {
			color: #000;
			display: block;
			font-size: 14px;
			line-height: 1.5;
			@include respond-to(large) {
				font-size: 16px;
			}
		}
	}
	.ul-social {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		li {
			margin-right: 15px;
			@include respond-to(large) {
				margin-right: 20px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		i {
			&:before {
				font-size: 30px;
				color: #525252;
			}
		}
	}
	.list {
		@include respond-to(medium) {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin: 0 -10px;
		}
		.item {
			margin-bottom: 20px;
			@include respond-to(medium) {
				margin-bottom: 0;
				padding: 0 10px;
				width: 22%;
			}
			&:first-child {
				@include respond-to(medium) {
					width: 40%;
				}
			}
			&:last-child {
				margin-bottom: 0;
				@include respond-to(medium) {
					width: 38%;
				}
			}
		}
	}
}