header {
    position: relative;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
    .top {
        padding: 10px 0;
        @include respond-to(large) {
        	padding-top: 13px;
        	padding-bottom: 23px;
        }
    	.inner {
	        display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
        }
    }
    .h-left {
        width: 90px;
        @include respond-to(ip6) {
            width: 110px;
        }
        @include respond-to(medium) {
            width: 140px;
        }
        @include respond-to(large) {
            width: 193px;
        }
        @include respond-to(xlarge) {
            width: 375px;
        }
    }
    .h-right {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: calc(100% - 90px);
        @include respond-to(ip6) {
            width: calc(100% - 110px);
        }
        @include respond-to(medium) {
            width: calc(100% - 140px);
        }
        @include respond-to(large) {
            width: calc(100% - 193px);
        }
        @include respond-to(xlarge) {
            width: calc(100% - 375px);
        }
    }
    .ul-contact {
        margin-top: 20px;
        @include respond-to(large) {
            margin-top: 0;
        }
        li {
            margin-bottom: 10px;
            @include respond-to(medium) {
                margin-bottom: 0;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 1px 0;
            }
            @include respond-to(large) {
                justify-content: center;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        .txt {
            display: block;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: -.36px;
            font-weight: bold;
            @include respond-to(medium) {
                font-size: 20px;
            }
            &.name {
                color: #00C400;
            }
            &.link {
                color: #F25F00;
                @include respond-to(medium) {
                    padding-left: 5px;
                }
            }
        }
    }
    .h-search {
        @include respond-to(large) {
            width: 267px;
            margin-left: 20px;
        }
        @include respond-to(large) {
            margin-left: 30px;
        }
    }
    .h-location {
        margin-right: 15px;
        @include respond-to(large) {
            width: 46px;
            margin-right: 0;
            margin-left: 30px;
        }
        .fa-map-marker-alt:before {
        	font-size: 24px;
            color: #000;
            @include respond-to(ip6) {
                font-size: 30px;
            }
            @include respond-to(large) {
                font-size: 45px;
            }
        }
    }
    .nav {
		padding: 16px 0 50px;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        height: calc(100vh - 62px);
        z-index: 998;
        display: none;
        background-color: white;
        overflow: auto;
        @include respond-to(ip6) {
            height: calc(100vh - 71px);
        }
        @include respond-to(medium) {
            height: calc(100vh - 85px);
        }
        @include respond-to(large) {
            padding: 0;
            display: block !important;
            overflow: inherit;
            position: static;
            height: auto;
            background-color: #A7A7A7;
        }
    }
    .ul-main {
        @include respond-to(large) {
        	display: -webkit-flex;
        	display: -moz-flex;
        	display: -ms-flex;
        	display: -o-flex;
        	display: flex;
        	align-items: center;
        	justify-content: space-between;
        }
        > li {
            &.on {
                .expand {
                    &:before {
                        -ms-transform: translate(-50%,-50%) rotate(180deg);
                        transform: translate(-50%,-50%) rotate(180deg);
                        opacity: 0;
                    }
                    &:after {
                        -ms-transform: translate(-50%,-50%) rotate(270deg);
                        transform: translate(-50%,-50%) rotate(270deg);
                    }
                }
            }
        }
    	a:not(.btn) {
    		color: #1C1C1C;
    		text-transform: uppercase;
    		font-size: 14px;
    		line-height: 1.25;
    		letter-spacing: -.48px;
    		display: block;
            padding: 10px 0;
            @include respond-to(large) {
                padding: 16px 0;
            }
    		@include respond-to(xlarge) {
				font-size: 16px;
    		}
    		@include respond-to(xxlarge) {
				font-size: 20px;
    		}
            &:hover {
                text-decoration: underline;
            }
    	}
    }
    .sub-nav {
        display: none;
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 1;
        background-color: white;
        @include respond-to(medium) {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        @include respond-to(large) {
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            display: block !important;
            opacity: 0;
            visibility: hidden;
        }
        &.on {
            @include respond-to(large) {
                opacity: 1;
                z-index: 3;
            }
        }
        &.visible {
            @include respond-to(large) {
                visibility: visible;
            }
        }
        .img {
            padding-bottom: 61.960784313%;
        }
        .list {
            margin: 0 -6px;
        }
        .item {
            padding: 0 6px;
            display: none;
            &:first-child {
                display: block !important;
            }
        }
        .txt {
            font-size: 16px;
            line-height: 20px;
            color: #000;
            display: block;
            margin-top: 8px;
            text-align: center;
        }
        .ul-ctr {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 15px;
            li {
                &:last-child {
                    margin-left: -1px;
                }
            }
        }
    }
    .expand {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 7.5px;
        width: 24px;
        height: 24px;
        @include respond-to(large) {
            display: none;
        }
        &:before, &:after {
            content: '';
            background-color: black;
            position: absolute;
            z-index: 2;
            transition: all .3s;
            left: 50%;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        &:before {
            width: 100%;
            height: 1px;
        }
        &:after {
            height: 100%;
            width: 1px;
        }
    }
    .hamburger {
        position: relative;
        display: block;
        width: 26px;
        height: 23px;
        font-size: 0;
        color: transparent;
        margin-left: 15px;
        @include respond-to(large) {
            display: none;
            visibility: hidden;
        }
        span {
            position: absolute;
            z-index: 1;
            width: 26px;
            
            height: 4px;
            background-color: #000;
            display: block;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                width: 26px;
                height: 4px;
                background-color: #000;
                -webkit-transition: transform .3s;
                -o-transition: transform .3s;
                transition: transform .3s;

                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            &:before {
                top: -9.5px;
            }
            &:after {
                top: 9.5px;
            }
        }
    }
    [data-sub-nav] {
        /*display: none;*/
    }
}

.scroll-up {
    header {
        top: 0;
    }
}

.scroll-down {
    header {
        top: -56px;
        @include respond-to(large) {
            top: -90px;
        }
        @include respond-to(xlarge) {
            top: -118px;
        }
    }
}

.nav-expand {
    @media screen and (max-width: 1023px) {
        overflow: hidden !important;
        height: 100% !important;
    }
    
    header {
        .hamburger {
            span {
                background-color: transparent;
                &:before {
                    -webkit-transform: rotate(45deg) translate(-2px, 16px);
                    -ms-transform: rotate(45deg) translate(-2px, 16px);
                    -o-transform: rotate(45deg) translate(-2px, 16px);
                    transform: rotate(45deg) translate(-2px, 16px);
                }
                &:after {
                    -webkit-transform: rotate(-45deg) translate(-3px, -16px);
                    -ms-transform: rotate(-45deg) translate(-3px, -16px);
                    -o-transform: rotate(-45deg) translate(-3px, -16px);
                    transform: rotate(-45deg) translate(-3px, -16px);
                }
            }
        }
    }
}