<footer>
	<div class="inner">
		<div class="f-left">
			<div class="logo">
				<a href="#">
					<div class="img">
						<img class="lazy" data-src="/images/logo.png" alt="">
					</div>
				</a>
				<span class="line">&nbsp;</span>
				<span class="txt">ĐẤT VÀNG DỰ ÁN</span>
			</div>
		</div>
		<div class="f-right">
			<div class="list">
				<div class="item">
					<span class="heading">TIN TỨC</span>
					<div class="des">
						<p>Đón theo dõi các sự kiện hot nhất của Đất vàng dự án. Cập nhật các dự án mới nhất nhanh nhất thông qua email của bạn </p>
					</div>
				</div>
				<div class="item">
					<span class="heading">DỰ ÁN </span>
					<ul class="ul-projects">
						<li>
							<a href="#">Căn hộ cao cấp </a>
						</li>
						<li>
							<a href="#">Nhà biệt thự </a>
						</li>
						<li>
							<a href="#">Dự án quy hoạch </a>
						</li>
						<li>
							<a href="#">Mua bán đất nền </a>
						</li>
						<li>
							<a href="#">Cho thuê Thương mại </a>
						</li>
					</ul>
				</div>
				<div class="item">
					<div class="box-list">
						<div class="box-item">
							<span class="heading">SỰ KIỆN MỚI NHẤT </span>
								<ul class="ul-events">
									<li>
										<a href="#">Top 10 dự án đáng giá ngàn tỷ mọi thời đại  </a>
									</li>
									<li>
										<a href="#">Top 10 dự án đáng giá ngàn tỷ mọi thời đại  </a>
									</li>
								</ul>
						</div>
						<div class="box-item">
							<span class="heading">THEO DÕI CHÚNG TÔI </span>
							<ul class="ul-social">
								<li>
									<a href="#">
										<span class="icn icn-facebook">&nbsp;</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icn icn-twitter">&nbsp;</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icn icn-youtube">&nbsp;</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icn icn-map">&nbsp;</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icn icn-call">&nbsp;</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>