<header>
	<div class="top">
		<div class="inner">
			<div class="h-left">
				<div class="logo">
					<a href="#">
						<div class="img">
							<img class="lazy" data-src="/images/logo.png" alt="">
						</div>
					</a>
					<span class="line">&nbsp;</span>
					<span class="txt">ĐẤT VÀNG DỰ ÁN</span>
				</div>

			</div>
			<div class="h-right">
				<div class="on-desktop">
					<ul class="ul-contact">
						<li>
							<span class="txt name">HOTLINE:</span>
							<a class="txt link" href="tel:7911370909">791 137 0909</a>
						</li>
						<li>
							<span class="txt name">EMAIL:</span>
							<a class="txt link" href="mailto:Batdongsansaigonvn.vn">Batdongsansaigonvn.vn</a>
						</li>
					</ul>
				</div>
				<div class="h-location">
					<a href="#" class="location">
						<span class="icn icn-location">&nbsp;</span>
					</a>
				</div>
				<div class="h-search">
					<form action="#" class="form search">
						<div class="wrap">
							<div class="input">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button data-search aria-expanded="fales">
								<span class="icn icn-search">&nbsp;</span>
							</button>
						</div>
					</form>
				</div>
				<a href="#" data-hamburger="" aria-expanded="false" class="hamburger"><span></span></a>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="nav">
			<div class="inner">
				<ul class="ul-main" data-nav>
					<li><a href="#">TRANG CHỦ</a></li>
					<li><a href="#">GIỚI THIỆU</a></li>
					<li><a href="#">DỰ ÁN</a></li>
					<li><a href="#">TIN TỨC</a></li>
					<li>
						<a href="#">ĐẤT NỀN</a>
						<div class="sub-nav" data-sub-nav>
							<div class="inner">
								<div class="list js-hero-slider">
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img01.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img02.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img03.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img04.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img05.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img01.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img02.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img03.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img04.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
									<div class="item">
										<div class="img">
											<img class="lazy" data-src="/images/slider/img05.jpg" alt="">
										</div>
										<span class="txt">miêu tả giá trị sản phẩm dự án 1</span>
									</div>
								</div>
								<ul class="ul-ctr">
									<li>
										<a href="#" class="btn btn-slider btn-slider-prev js-hero-slider-prev">
											<span class="arr"><</span>
										</a>
									</li>
									<li>
										<a href="#" class="btn btn-slider btn-slider-next js-hero-slider-next">
											<span class="arr">></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="#">BIỆT THỰ NHÀ PHỐ</a>
					</li>
					<li><a href="#">TRUNG TÂM THƯƠNG MẠI</a></li>
					<li><a href="#">ĐÁNH GIÁ</a></li>
					<li><a href="#">TƯ VẤN</a></li>
					<li><a href="#">LIÊN HỆ</a></li>
				</ul>
				<div class="on-ipad-and-down">
					<ul class="ul-contact">
						<li>
							<span class="txt name">HOTLINE:</span>
							<a class="txt link" href="tel:7911370909">791 137 0909</a>
						</li>
						<li>
							<span class="txt name">EMAIL:</span>
							<a class="txt link" href="mailto:Batdongsansaigonvn.vn">Batdongsansaigonvn.vn</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>