<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Golden Group</title>
    <link rel="canonical" href="" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
	<link href="/css/all.css?v=1532526419020" rel="stylesheet" type="text/css" media="all" />
</head>
<body class="{{ bodyClass }}">