h2, h3 {
	font-weight: bold;
}
h2 {
	font-size: 20px;
	line-height: 1.25;
	letter-spacing: -.48px;
	@include respond-to(large) {
		font-size: 24px;
	}
}
h3 {
	font-size: 18px;
	line-height: 1.25;
	letter-spacing: -.48px;
	@include respond-to(large) {
		font-size: 22px;
	}
}